*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 为地图容器指定高度、宽度 */
#container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* margin:-180px 0 0 -300px; */
}

#searchText{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 180px;
    height: 24px;
}
#searchBtn{
    position: absolute;
    top: 10px;
    left: 200px;
    width: 44px;
    height: 24px;
}

#searchNode{
    position: absolute;
    left: 10px;
    top: 40px;
    width: 300px;
    
}